
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(5) > ul > li > div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-e2.st-c9.st-cn.st-el.st-e5.st-e6.st-as.st-at.st-dg.st-dh.st-cu.st-e7.st-ef.st-eg.st-am.st-em.st-ej.st-b1.st-bp.st-b3.st-ec.st-ed.st-ee > div:nth-child(1) > div > div > div:nth-child(1) > div > div:nth-child(6) > div {
/*    background-color: #EEEEEE;*/
/*    border: 2px solid #CCCCCC;*/
    padding: 0% 50% 0% 0%;
    border-radius: 5px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(5) > ul > li > div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-e2.st-c9.st-cn.st-el.st-e5.st-e6.st-as.st-at.st-dg.st-dh.st-cu.st-e7.st-ef.st-eg.st-am.st-em.st-ej.st-b1.st-bp.st-b3.st-ec.st-ed.st-ee > div:nth-child(1) > div > div > div:nth-child(1) > div > div:nth-child(7) > div {
/*    background-color: #EEEEEE;*/
/*    border: 2px solid #CCCCCC;*/
    padding: 0% 50% 0% 50%;
    border-radius: 5px;
}

